<div class=" container p-0 mb-5 mt-5" style="min-height: 100vh !important;">

    <app-mobile-header-with-back-button [backUrl]="'/' + authService.getRole() + '/settings'" [heading]="userAction" *ngIf="userAction"></app-mobile-header-with-back-button>

    <app-mobile-header-with-back-button [backUrl]="'/' + authService.getRole() + '/dashboard'"  [heading]="'Settings'" *ngIf="!userAction"></app-mobile-header-with-back-button>

<!--    <div class="row pt-4" *ngIf="!userAction">-->

<!--        <div class="col-12 d-flex justify-content-between align-items-center">-->
<!--            <div class="d-flex flex-column w-100">-->
<!--                <h2 class="fw-bold mb-3">-->
<!--                    {{"Settings"}}-->
<!--                </h2>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="w-100 mt-5" *ngIf="userAction === 'App Theme'">
        <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="appTheme">

            <div class="w-100 mb-2">
                <mat-radio-button class="example-radio-button" (click)="changeAppTheme('dark')" [value]="'dark'">{{"Dark Theme" | translate}}</mat-radio-button>
            </div>
            <div class="w-100 mb-2">

               <mat-radio-button class="example-radio-button" (click)="changeAppTheme('light')" [value]="'light'">{{"Light Theme" | translate}}</mat-radio-button>

            </div>
            <div class="w-100">

                <mat-radio-button class="example-radio-button" (click)="changeAppTheme('auto')" [value]="'auto'">{{"System Theme (Automatic)" | translate}}</mat-radio-button>

            </div>
        </mat-radio-group>
    </div>

    <div class="w-100 mt-5" *ngIf="userAction === 'App Language'">
        <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="appLang">

            <div class="w-100 mb-2">
                <mat-radio-button class="example-radio-button" (click)="changeAppLang('en')" [value]="'en'">{{"English (EN)" | translate}}</mat-radio-button>
            </div>
            <div class="w-100">

                <mat-radio-button class="example-radio-button" (click)="changeAppLang('es')" [value]="'es'">{{"Spanish (ES)" | translate}}</mat-radio-button>

            </div>
        </mat-radio-group>
    </div>

    <div class="w-100 mt-5" *ngIf="userAction === 'Tutorials'">
        <div class="col-12">
            <div class="alert alert-dark">
                {{"Feature coming soon, we will let you know once it's available" | translate}}
            </div>
        </div>
    </div>

    <div class="w-100 mt-5" *ngIf="userAction === 'Account Information'">
        <app-user-profile [userId]="authService.getUserID()"></app-user-profile>
    </div>
    <div class="w-100 mt-5" *ngIf="userAction === 'Reset Password'">
        <div class="card-body">

            <form id="promotion-form-mobile" (submit)="resetPass()" class="row mb-4" [formGroup]="formResetPass">

                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>{{"Current Password" | translate}}</mat-label>
                        <input type="password" matInput  formControlName="current_password" placeholder="Enter current password">

                    </mat-form-field>

                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>{{"New Password" | translate}}</mat-label>
                        <input type="password" matInput  formControlName="new_password" placeholder="Enter new password">

                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>{{"New Password" | translate}}</mat-label>
                        <input type="password" matInput  formControlName="confirm_password" placeholder="Confirm new password">
                    </mat-form-field>

                </div>
                <div class="col-md-12">

                    <div class="form-group d-flex justify-content-end align-items-center">


                        <button  class="btn btn-theme-dark btn-block">
                            <i class="fa fa-check"></i>&nbsp;Change Password
                        </button>

                    </div>
                </div>

            </form>

        </div>

    </div>


    <div class="w-100 d-flex flex-column gap-2" *ngIf="!userAction">

        <div class="row">
            <div [routerLink]="['/' + authService.getRole() + '/settings']" [queryParams]="{tab : 'Account Information'}"  class="col-12 dashboard-action-widget">
                <div class="card">
                    <div class="card-body py-3">
                        <div class="col-12 d-flex gap-3">
<span class="material-symbols-outlined text-primary">
person
</span>

                            <p class="mb-0">{{"Account Information" | translate}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="authService.getRole() === 'business'">
            <div class="col-12 dashboard-action-widget">
                <div class="card" [routerLink]="['/business/select-plan']">
                    <div class="card-body py-3">
                        <div class="col-12 d-flex gap-3">
<span class="material-symbols-outlined text-primary">
card_membership
</span>

                            <p class="mb-0">{{"Membership" | translate}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div [routerLink]="['/' + authService.getRole() + '/settings']" [queryParams]="{tab : 'Reset Password'}" class="col-12 dashboard-action-widget">
                <div class="card">
                    <div class="card-body py-3">
                        <div class="col-12 d-flex gap-3">
<span class="material-symbols-outlined text-primary">
lock
</span>

                            <p class="mb-0">{{"Reset Password" | translate}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div [routerLink]="['/' + authService.getRole() + '/settings']" [queryParams]="{tab : 'App Language'}" class="col-12 dashboard-action-widget">
                <div class="card">
                    <div class="card-body py-3">
                        <div class="col-12 d-flex gap-3">
<span class="material-symbols-outlined text-primary">
language
</span>

                            <p class="mb-0">{{"App Language"}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 dashboard-action-widget">
                <div [routerLink]="['/' + authService.getRole() + '/settings']" [queryParams]="{tab : 'App Theme'}" class="card">
                    <div class="card-body py-3">
                        <div class="col-12 d-flex gap-3">
<span class="material-symbols-outlined text-primary">
dark_mode
</span>

                            <p class="mb-0">{{"App Theme"}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 dashboard-action-widget">
                <div (click)="accountCloseConfirmation()" class="card">
                    <div class="card-body py-3">
                        <div class="col-12 d-flex gap-3">
<span class="material-symbols-outlined text-primary">
block
</span>
                            <p class="mb-0">{{"Deactivate Account"}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 dashboard-action-widget">
                <div (click)="logout()" class="card">
                    <div class="card-body py-3">
                        <div class="col-12 d-flex gap-3">
<span class="material-symbols-outlined text-primary">
logout
</span>
                            <p class="mb-0">{{"Sign Out"}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 dashboard-action-widget">
                <div [routerLink]="['/' + authService.getRole() + '/settings']" [queryParams]="{tab : 'Tutorials'}" class="card">
                    <div class="card-body py-3">
                        <div class="col-12 d-flex gap-3">
<span class="material-symbols-outlined text-primary">
book
</span>
                            <p class="mb-0">{{"Tutorials"}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


