mat-list-item {
  cursor: pointer;
}

.listing {
  height: 250px;
  width: 100%;

  border-radius: 10px;
  padding: 10px;

}

.listing-cat-lg {
  height: 450px;
  width: 100%;

  border-radius: 10px;
  padding: 10px;

}

.listing-cat-sm {
  height: 210px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

}


.promotion-title-primary , .promotion-title-secondary{
  line-height: 1;
}

.promo-location-icon {
  font-size: 20px;
}

.promo-location-title {
  line-height: 1;
  margin-left: 5px;
}
.promo-amount-big {
  font-size: 40px;
}

.promo-timeline-area {
  margin: 0;padding: 0;
  border-left: 1px solid #ccc;

}

.listing-section .col-md-4 {

  padding: 5px;

}
