.slide {
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #bbb;
}

.ic-prev, .ic-next {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: white;
  border: 2px solid white;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  display: flex;
  background: transparent;
  cursor: pointer;
}

.slide-navigator {
  width: 95%;
  position: absolute;
  margin-top: 180px;
}

.swipe-left {
  animation: moveToLeft 1s ease-in-out;
  animation-delay: 10ms;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-500px);
  }
}

.swipe-right {
  animation: moveToRight 1s ease-in-out;
  animation-delay: 10ms;
}

@keyframes moveToRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(500px);
  }
}

@media screen and (max-width: 480px){
  .slide {
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #bbb;
  }

  .ic-prev, .ic-next {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: white;
    border: 2px solid white;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    display: flex;
    background: transparent;
    cursor: pointer;
  }

  .slide-navigator {
    width: 95%;
    position: absolute;
    margin-top: 90px;
  }

}

@media screen and (max-width: 600px){
  .slide {
    height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #bbb;
  }

  .ic-prev, .ic-next {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: white;
    border: 2px solid white;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    display: flex;
    background: transparent;
    cursor: pointer;
  }

  .slide-navigator {
    width: 95%;
    position: absolute;
    margin-top: 110px;
  }

}

@media screen and (min-width: 600px) and (max-width: 768px){
  .slide {
    height: 300px;
    padding-top: 300px;
    padding-bottom: 20px;
    border: 1px solid #bbb;
  }

  .ic-prev, .ic-next {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: white;
    border: 2px solid white;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    display: flex;
    background: transparent;
    cursor: pointer;
  }

  .slide-navigator {
    width: 95%;
    position: absolute;
    margin-top: 120px;
  }

}
