.header-ic-wrapper {
  width: 45px;height: 45px;
}

.header-ic-img {
  width: 24px;height: 24px;
}

@media screen and (max-width: 600px){
  .header-ic-img {
    width: 20px;
    height: 20px;
  }

  .header-ic-wrapper {
    width: 35px;height: 35px;
  }
}
