<div class="col-md-12">
  <h3 class="fw-bold">
   {{'Deals Under' | translate}} $30
  </h3>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="col-6 col-md-3" style="padding: 2px !important;">

      <div class="listing-cat-sm text-center" style="background:  url('assets/img/slides/car 2.jpg');  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;">

        <h2 class="mt-5" style="color: white">Car Deal</h2>

      </div>


    </div>
    <div class="col-6 col-md-3"  style="padding: 2px !important;">

      <div class="listing-cat-sm text-center" style="background:  url('assets/img/slides/car 2.jpg');  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;">
        <h2 class="mt-5" style="color: white">Car Deal</h2>

      </div>


    </div>
    <div class="col-6 col-md-3"  style="padding: 2px !important;">

      <div class="listing-cat-sm text-center" style="background:  url('assets/img/slides/car 2.jpg');  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;">

        <h2 class="mt-5" style="color: white">Car Deal</h2>

      </div>


    </div>
    <div class="col-6 col-md-3"  style="padding: 2px !important;">

      <div class="listing-cat-sm text-center" style="background:  url('assets/img/slides/car 2.jpg');  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;">

        <h2 class="mt-5" style="color: white">Car Deal</h2>

      </div>


    </div>
  </div>
</div>
