
.listing {
  height: auto;
  width: 100%;

  border-radius: 4px;
  padding: 10px;

}

.listing-cat-lg {
  height: 450px;
  width: 100%;

  border-radius: 10px;
  padding: 10px;

}

.listing-cat-sm {
  height: 210px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

}


h1, h2, h3, h4, h5 {
  margin-bottom: 0 !important;
}
