.img-frame {
  height: 100vh !important;
  position: fixed;
  z-index: 10000 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.img-frame-back {
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  filter: blur(10px);
  height: 100vh !important;
  position: fixed;
  z-index: 9999 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
