<div class="container-fluid px-4">
  <h4 class="mt-4">Settings</h4>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">SMTP Configuration</li>
  </ol>

  <div class="row">

    <form class="col-md-5">
      <div class="card">

        <div class="card-header">

          <p>Setup SMTP for email sender</p>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field  appearance="outline">
                <mat-label>Host</mat-label>
                <mat-error></mat-error>
                <input matInput  type="text" >
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field  appearance="outline">
                <mat-label>Port</mat-label>
                <mat-error></mat-error>
                <input matInput  type="text" >
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field  appearance="outline">
                <mat-label>Username</mat-label>
                <mat-error></mat-error>
                <input matInput  type="text" >
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field  appearance="outline">
                <mat-label>Password</mat-label>
                <mat-error></mat-error>
                <input matInput  type="text" >
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button  class="btn btn-primary">
            Save
          </button>
        </div>


      </div>

    </form>

  </div>

</div>
