<div class="container-fluid px-4">
  <h4 class="mt-4">Manage {{listingType}} Listings</h4>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">All {{listingType}}</li>
  </ol>



  <div class="row">

    <div class="col-md-12 mb-4" *ngIf="progress === true">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="col-md-12" *ngIf="listingType === 'business'">

      <form class="row mb-4" (submit)="getListings()">

        <div class="col-md-4">
          <select name="status" [(ngModel)]="status" (change)="getListings()" class="form-control">
            <option>approved</option>
            <option>denied</option>
            <option>Pending</option>


          </select>
        </div>
        <div class="col-md-4">
          <input [(ngModel)]="search" name="search" type="text" class="form-control" placeholder="Search business by name ...">
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary">
            <i class="fa fa-search"></i>&nbsp; Search
          </button>
        </div>
      </form>
      <div class="row" *ngIf="listings">

        <div class="col-md-3 col-lg-3" *ngFor="let business of listings">
          <business (dataUpdated)="getListings()" [isAdmin]="true" [isOwner]="true" [deletable]="true" [business]="business"></business>
        </div>

      </div>
    </div>

    <div class="col-md-12" *ngIf="listingType === 'promotion'">

      <form class="row mb-4" (submit)="getListings()">

        <div class="col-md-4">
          <input [(ngModel)]="search" name="search" type="text" class="form-control" placeholder="Search promotions by name ...">
        </div>
        <div class="col-md-4">

          <input [(ngModel)]="business_name" name="business_name" type="text" class="form-control" placeholder="Business name...">
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary">
            <i class="fa fa-search"></i>&nbsp; Search
          </button>
        </div>
      </form>
      <div class="row" *ngIf="listings !== undefined ">

        <div class="col-md-3 col-lg-3" *ngFor="let promotion of listings">

          <app-promotion-widget (dataUpdated)="getListings()" [deletable]="true" [isAdmin]="true" *ngIf="promotion.business" [promotion]="promotion"></app-promotion-widget>

        </div>


      </div>
    </div>


    <div class="col-md-12" *ngIf="listingType === 'ad'">

      <form class="row mb-4" (submit)="getListings()">

        <div class="col-md-6">
          <input [(ngModel)]="search" name="search" type="text" class="form-control" placeholder="Search Ads by title ...">
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary">
            <i class="fa fa-search"></i>&nbsp; Search
          </button>
        </div>
      </form>
      <div class="row" *ngIf="listings !== undefined ">

        <div class="col-md-3 col-lg-3" *ngFor="let ad of listings" >

          <app-business-ad  [ad]="ad" [deletable]="true" [isAdmin]="true"></app-business-ad>

        </div>


      </div>
    </div>



  </div>

</div>
