<div class="container-fluid pt-md-5"  style="position: absolute !important;margin-top: 0 !important;top: 0 !important;height: calc(100vh - 80px) !important;overflow-y: scroll !important;">

<div class="w-100 ">
  <div class="shadow-sm d-flex d-md-none theme-bg-primary justify-content-between align-items-center px-3" style="z-index: 100000000 !important;position: fixed;top: 0;left:0; width: 100% !important;height: 60px!important;" >
    <!--    <i (click)="backPrev()" class="fa fa-angle-left fw-bold cursor-pointer" style="font-size: 24px!important;"></i>-->

    <span (click)="backPrev()" class="material-symbols-outlined cursor-pointer">
arrow_back_ios
</span>

    <h3 class="mb-0 mat-h3">

      {{"My Promotions"}}


    </h3>

    <h4>&nbsp;</h4>
  </div>
  <div class="row py-3" *ngIf="promotions">

      <div class="col-12 d-none d-md-flex justify-content-between align-items-center mb-2">
          <div class="d-flex flex-column">
              <h2 class="fw-bold">
                  <strong>
                      {{"Manage Promotions" | translate}}
                  </strong>
              </h2>
              <p>{{"Manage, update, delete listed promotions anytime" | translate}}</p>
          </div>

          <div>
              <div class="top-search-bar px-3 w-100 d-flex gap-2 align-items-center " style="height: 42px;border-radius: 24px;" >

                           <span class="material-symbols-outlined">
search
</span>

                  <input type="text" placeholder="Search promotions by name ...." style="background: transparent !important;border: none !important;outline: none !important;">

              </div>
          </div>
      </div>

    <ng-container *ngFor="let listing of promotions">
      <div class="col-12 col-md-4 col-lg-6 col-xl-4  p-0 p-md-2 mb-2" *ngIf="listing.promotion_type === 'Promotion'">

        <app-promotion-classic-widget [hasCustomActionOnClick]="true" [displayOptionsOnly]="true" class="w-100 p-0"
                                      [promotion]="listing"></app-promotion-classic-widget>


      </div>
    </ng-container>

  </div>

</div>

</div>
<div class="container-fluid d-none pt-3 pb-5" style="background: #eee;">



  <div class="row mb-5">

    <div class="col-md-12">

      <mat-card>

        <mat-card-header>

          <div class="row mb-2">

            <div class="col-md-12">
              <h2 class="">
                Manage Listed Promotions &nbsp;&nbsp;

                <button [routerLink]="['/'+routes.business.create_promotion]" class="float-right" mat-raised-button color="primary">

                  <i class="fa fa-plus"></i> &nbsp;Create New Promotion

                </button>

              </h2>



            </div>

          </div>

        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="p-4">

          <form class="row mb-4" (submit)="getMyPromoListings()">

            <div class="col-md-6">
              <input [(ngModel)]="search" name="search" type="text" class="form-control" placeholder="Search promotions by title">
            </div>

            <div class="col-md-6">

             <button class="btn btn-primary">
                <i class="fa fa-search"></i>&nbsp; Search
              </button>
            </div>

          </form>


          <div class="row" *ngIf="promotions">

            <div class="col-md-4" *ngFor="let promotion of promotions">

              <app-promotion-widget [isOwner]="true" [deletable]="true" [promotion]="promotion"></app-promotion-widget>

            </div>

          </div>




        </mat-card-content>

      </mat-card>



    </div>
    <div class="col-md-12">




    </div>



  </div>







  <div class="row mt-5 mb-5">




    <footer style="height: 300px;margin-top: 100px;margin-bottom: 50px;">


      <div class="row">

        <div class="col-md-12">

          <p class="text-center">Guia en tu dispositivo movil
          </p>

        </div>
        <div class="col-md-12 mt-5 text-center">



          <button mat-raised-button class="btn-lg" color="primary">

            <i style="font-size: 25px;" class="fa fa-apple"></i>&nbsp; Get IOS App

          </button>&nbsp;&nbsp;
          <button mat-raised-button class="btn-lg" color="accent">

            <i style="font-size: 25px;" class="fa fa-android"></i>&nbsp; Get Android App

          </button>

          <br/>




        </div>
        <div class="col-md-12 mt-4 text-center">


          <hr/>
          <br/>
          <p>Sobre nosotros | Planes |  Para los negocios | Terminos del servicio | Politica de privacidad
          </p>

          <br/>
          <hr/>

          <mat-divider></mat-divider>

          <i style="font-size: 25px;color: #888" class="fa fa-facebook "></i>&nbsp;
          <i style="font-size: 25px;color: #888" class="fa fa-whatsapp"></i>&nbsp;
          <i style="font-size: 25px;color: #888" class="fa fa-instagram"></i>&nbsp;
          <i style="font-size: 25px;color: #888" class="fa fa-youtube "></i>&nbsp;
          <i style="font-size: 25px;color: #888" class="fa fa-twitter"></i>&nbsp;

          <br/><br/>
          <p>
            Derechos reservados 2021, IDS,  y marcas relacionadas son marcas registradas de IDS

          </p>





        </div>


      </div>



    </footer>


  </div>


</div>
