mat-list-item {
  cursor: pointer;
}

.listing {
  height: 250px;
  width: 100%;

  border-radius: 10px;
  padding: 10px;

}

.listing-cat-lg {
  height: 450px;
  width: 100%;

  border-radius: 10px;
  padding: 10px;

}

.listing-cat-sm {
  height: 210px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

}

.swiper-container {
  overflow: hidden;
  cursor: grab;
}

.swiper-wrapper{
  display:inline-flex;
}


/*.preview-state-hidden {*/
/*  transform: translateY(100vh);*/
/*  transition: ease-in 0.5s;*/
/*}*/

/*.preview-state-expanded {*/
/*  transform: translateY(0px);*/
/*  transition: ease-in 0.5s;*/
/*}*/

/*.preview-state-collapsed {*/
/*  transform: translateY(40vh);*/
/*  transition: ease-in 0.5s;*/
/*}*/

