<div class="container-fluid px-4">
  <h4 class="mt-4">Settings</h4>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Google</li>

    <li class="breadcrumb-item active">Adsense</li>
  </ol>

  <div class="row">

    <form class="col-md-12">
      <div class="card">

        <div class="card-header">

          <p>Setup Google Adsense</p>

        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Copy and paste the code provided by Google Adsense here</label>
            <textarea class="form-control" rows="10"></textarea>

          </div>
        </div>

        <div class="card-footer">

          <button  class="btn btn-primary">
            Save
          </button>

        </div>


      </div>

    </form>

  </div>

</div>
