/*mat-form-field {*/
/*  width: 100%;*/
/*}*/

/*mat-label {*/
/*  font-size: 17px;*/
/*  margin-top: 15px;*/
/*  margin-bottom: 10px;*/
/*}*/

.next-btn , .back-btn {
  width: 100%;
  height: 40px;
}

.services {
  padding: 15px;
}

.service-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.service-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.service-content {
  margin-bottom: 10px;
}

.service-footer {
  margin-bottom: 10px;
}

.service-btn {
  border-radius: 50%;
  margin-left: 5px;
}

.service-title {
  font-weight: bold;
  float: left;
}

.service-price{
  font-weight: bold;
  float: right;
}

.service-description {
  height: fit-content;
  max-height: 70px;
  overflow: hidden;
}


.category-option-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #fff;
  border-radius: 7px;
  margin-bottom: 5px;
  cursor: pointer;
}
.category-option-box-active {
  border: 1px solid #3f51b5;
}

.category-option-title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
}

ol li a {
  cursor: pointer;
}

mat-card-content {
  padding-top: 10px;
  padding-bottom: 10px;
}
