.ic-sidebar-close {
  font-size: 20px !important;
  cursor: pointer;
}

.listing-section .col-md-4 {
  margin: 0;padding: 5px;cursor: pointer;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item i , mat-list-item mat-icon {
  color:  #3f51b5 !important;
}

mat-list-item:hover {
  background: #3f51b5 !important;
  color: #fff;
}

mat-list-item:hover i {

  color: #fff !important;
}

mat-list-item:hover mat-icon {

  color: #fff !important;
}

.content-expanded{
  width: 100% !important;
}


.sidebar-collapsed {
  width: 0 !important;
  display: none !important;
}


.sidebar-expanded {
  display: block !important;
  transition: width 0.5s ;
}

html , body , .sidebar-expanded{
  height: 100% !important;
}

.sidebar-options-container {
  height: 90%;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.9);
}
.overlay.enabled {
  display: initial;
}

.top-bar-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border-radius: 50%;
  border: 1px solid #eee;
  font-size: 14px;
  position: relative;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

/*
For mobile menu right side icons
 */
@media only screen and (max-width: 480px){
  .top-bar-icon {
    height: 30px;
    width: 30px;
    padding: 5px 5px 5px 5px;
    font-size: 15px;

  }
}

.search-bar input{
  border-radius: 20px;
}
.search-bar button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.user-menu ul li{
  text-decoration: none;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;

}

.user-menu ul li a , .user-menu ul li p{
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.user-menu ul li a{
  padding: 8px 4px !important;
}
.user-menu ul li a mat-icon, .user-menu ul li a i {
  margin-right: 10px;
}

.sidebar .card {
  border: 0 !important;
}
.sidebar .card .card-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.top-tabs .col mat-icon{
  color: green !important;
}

.tab-item {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tab-item mat-icon, .tab-item span {
  font-weight: bold;
  color: green;
}

.tab-active {
  border-bottom: 3px solid green;
}
mat-list-item i, mat-list-item span , mat-list-item mat-icon{
  color: green !important;
}


.sidebar {
  z-index: 1000 !important;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.sidebar::-webkit-scrollbar {
  display: none;
}


.content-expanded {
  margin-left: 0 !important;
  width: 100%;

}
@media  screen and (max-width: 480px){

  .sidebar {
    width: 100%;
  }
  .content-collapsed {
    width: 0;
  }

}
@media  screen and (min-width: 480px){

  .sidebar {
    width: 20%;
  }
  .content-collapsed {
    margin-left: 20%;
    width: 80%;
  }

}

@media  screen and (min-width: 768px){
  .sidebar {
    width: 17%;
  }
  .content-collapsed {
    margin-left: 17%;
    width: 83%;
  }

}


@media  screen and (min-width: 1024px){
  .sidebar {
    width: 13%;
  }
  .content-collapsed {
    margin-left: 13%;
    width: 86%;
  }

  mat-option {
    height: 30px !important;
    font-size: 15px !important;
  }

}

.header-lg-icon {
  font-size: 25px;
  cursor: pointer;
}
.header-right-icon{
  background: #eee;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 50%;
}

.header-icon {
  font-size: 24px;
}

.user-menu ul li a {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
}

.menu-box ul li {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  cursor: pointer;
}
.menu-box .card-body {
  padding: 5px !important;
}

.menu-box ul li .fa-angle-right {
  font-size: 20px !important;
}

.submenu-box-heading {
  font-size: 18px !important;
  font-weight: bold;
}

.profile-menu-box {
  background: transparent !important;
}

@media  screen and (max-width: 600px){
  .menu-box {
    bottom: 0px !important;
    width: 100% !important;
    height: fit-content !important;
    top: unset !important;
    background: white !important;
    border-radius: 0 !important;
    margin: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }

  .header-mid-section {
    display: none !important;
  }

  .profile-menu-box {
    background: white !important;
  }

  .brand-section-desktop{
    display: none !important;
  }

  .header-lg-icon {
    font-size: 20px !important;
  }

  /*.sidebar-fixed {*/
  /*  position: fixed !important;*/
  /*  background: white !important;*/
  /*  z-index: 10000 !important;*/
  /*  height: calc(100vh) !important;*/
  /*  margin-top: 0px !important;*/
  /*  padding: 5px !important;*/
  /*}*/

  .back-option {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
  }

}

@media  screen and (min-width: 600px) and (max-width: 768px){

  .brand-section-desktop {
    display: none !important;
  }

  .menu-box {
    top: 0px !important;
    width: 100% !important;
    height: 100vh !important;
    background: white !important;
  }

  .profile-menu-box {
    background: white !important;
  }

  .brand-section-desktop{
    display: none !important;
  }

  .header-lg-icon {
    font-size: 20px !important;
  }

  /*.sidebar-fixed {*/
  /*  position: fixed !important;*/
  /*  background: white !important;*/
  /*  z-index: 10000 !important;*/
  /*  height: calc(100vh) !important;*/
  /*  margin-top: 0px !important;*/
  /*  padding: 5px !important;*/
  /*}*/

  .back-option {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
  }

}



