mat-list-item {
  cursor: pointer;
}

.listing {
  height: 250px;
  width: 100%;

  border-radius: 10px;
  padding: 10px;

}

.listing-cat-lg {
  height: 450px;
  width: 100%;

  border-radius: 10px;
  padding: 10px;

}

.listing-cat-sm {
  height: 210px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

}

.promo-amount-big {
  font-size: 40px;

}
ngb-rating {
  color: #FFC107;
  font-size: 20px;
}

