<div class="adhs-container adhs-android adhs-chrome visible" style="height: 100vh; width: 360px;">
    <div class="adhs-logo">
        <img src="assets/icons/apple-touch-icon.png" alt="logo">
    </div>
    <div class="adhs-modal">
        <div class="adhs-title">{{"Install the Weshare app to continue" | translate}}</div>
        <div class="adhs-list">
            <div class="adhs-list-item">
                <div class="adhs-number-container">
                    <div class="adhs-circle">
                        <div class="adhs-number">1</div>
                    </div>
                </div>
                <div class="adhs-instruction">Tap the <img class="adhs-android-chrome-more-button" src="https://cdn.jsdelivr.net/gh/philfung/add-to-homescreen@1.8/dist/assets/img/android-chrome-more-button.svg"> button in the browser bar.</div>
            </div>
            <div class="adhs-list-item">
                <div class="adhs-number-container">
                    <div class="adhs-circle">
                        <div class="adhs-number">2</div>
                    </div>
                </div>
                <div class="adhs-instruction">Tap the <img class="adhs-android-chrome-add-to-homescreen-button" src="https://cdn.jsdelivr.net/gh/philfung/add-to-homescreen@1.8/dist/assets/img/android-chrome-add-to-home-screen-button.svg">or <img class="adhs-android-chrome-install-app" src="https://cdn.jsdelivr.net/gh/philfung/add-to-homescreen@1.8/dist/assets/img/android-chrome-install-app.svg"> button.</div>
            </div>
            <div class="adhs-list-item">
                <div class="adhs-number-container">
                    <div class="adhs-circle">
                        <div class="adhs-number">3</div>
                    </div>
                </div>
                <div class="adhs-instruction">Open the <img class="adhs-your-app-icon" src="assets/icons/apple-touch-icon.png"> app.</div>
            </div></div></div><div class="adhs-android-chrome-bouncing-arrow-container">
    <img src="https://cdn.jsdelivr.net/gh/philfung/add-to-homescreen@1.8/dist/assets/img/android-chrome-bouncing-arrow.svg" alt="arrow">
</div>
</div>