._step-counter {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

._step-counter-complete i {
    transition: ease-in 0.5s;
}

._step-counter-active, ._step-counter-complete {
    background: black;
    color: white;
    border-radius: 100%;
}



._step-floating-bar {

    /*width: 50px;*/
    flex: auto;
    height: 1px;
    background: black;
    /*height: 1px;background: black;width: 50px;*/
}
._step-label {
    display: flex;
    align-items: center;
    gap: .25rem
}
._step-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;


}
._step-name {
    font-size: 12px;
}