body {
  background: #eee;
}

.membership-title {
  font-size: 20px;
  font-weight: bold;
}

.membership-price {
  font-size: 30px;
  font-weight: bolder;
}
.membership-feature {
  font-size: 17px;

}
