<div style="position: fixed;left: 0; top: 0; height: 100vh !important;width: 100vw!important;z-index: 100000000 !important;">
    <div style="position: fixed;left: 0; top: 0; height: 100vh !important;width: 100vw!important;background: black;opacity: 0.5">

    </div>
    <div style="position: fixed;left: 0; top: 0; height: 100vh !important;width: 100vw!important;background: transparent;display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner [diameter]="70" mode="indeterminate"></mat-progress-spinner>
    </div>
</div>