<div class="position-relative" [class]="{'card' : !transparentBg}">




    <div class="d-flex flex-column">
        <div *ngIf="!displayEntitiesOnly" class="card-header order-md-0 d-flex justify-content-between align-items-center px-2">

            <div class="d-flex align-items-center justify-content-start gap-2 gap-md-3" >

                <div>
                    <img appBrandLogo [width]="40">
                </div>

                <div>
        <span class=" business-title-header fw-bold" style="font-size: 16px !important;" >
         Suggested for you
        </span>
                    <p class=" business-city-header mb-0" >
                        Sponsored
                    </p>
                </div>


            </div>

            <div class="d-flex align-items-center gap-2 justify-content-end section-listing-type ">
        <span class="material-symbols-outlined">
store
</span>

            </div>

        </div>
        <div class="card-body px-0 py-2  order-md-1 " >
            <div *ngIf="!displayEntitiesOnly" class="w-100  px-2">
                <p class="card-text" style="line-height: 1.5;">Below we have prepared content that may be of interest to you and Weshare recommends it especially for you</p>
            </div>

            <div id="carousel-{{carouselId}}" class="featured-carousel w-100 mt-3 d-flex ps-2 pe-2" (scroll)="onCarouselScroll($event)" style="overflow-x: scroll !important;">
                <div class="col-7 pb-3 featured-carousel-item" *ngFor="let business of businesses" (click)="onItemClick(business.favorite)">

                    <div class="w-100 ps-1 pe-2 featured-carousel-item-business">
                        <div class="card shadow" >

                            <div class="card-img" style="height: 220px;background-position: center;background-size: cover;background-repeat: no-repeat; background-image: url('{{business.gallery[0].img}}')">

                            </div>

                            <div class="card-body p-0">
                                <div *ngIf="displayMode === 'rewards'" class="w-100 py-1 d-flex align-items-center justify-content-center" style="background: #15202B">
                                    <span class="text-white">{{business.points ?? 0}} {{"Points" | translate}}</span>
                                </div>
                            </div>

                            <div class="card-body featured-card-content p-2 d-flex flex-column">

                                <div class="w-100 d-flex align-items-center gap-2">
                                    <div>
                                        <div style="width: 40px;height: 40px;border-radius: 100%;background-size: cover; background-repeat: no-repeat;background-position: center;background-image: url('{{business.logo}}')">

                                        </div>
                                    </div>

                                    <div>
                                        <p class="mb-0">{{business.name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer featured-card-content p-2">

                                <div [ngClass]="{'justify-content-between' : displayMode === 'basic' , 'justify-content-center' : displayMode === 'rewards'}" class="w-100 d-flex align-items-center">

                                    <ng-container *ngIf="displayMode === 'rewards'">
                                        <button (click)="viewRewardsHistory(business)" class="btn btn-sm btn-theme-dark">
                                            {{"Rewards History" | translate}}
                                        </button>
                                    </ng-container>

                                    <ng-container *ngIf="displayMode === 'basic'">

                                        <button (click)="viewDetails(business)" class="btn btn-theme-dark">
                                            {{"View" | translate}}
                                        </button>

                                        <div class="d-flex gap-2 align-items-center">
                                            <div class="d-flex gap-1 align-items-center">
                                        <span (click)="saveToFavorites(business)"
                                              class="material-symbols-outlined cursor-pointer">
add_circle
</span>
                                                <span *ngIf="business.likes_count">{{business.likes_count}}</span>
                                            </div>

                                            <div class="d-flex gap-1 align-items-center">
                                     <span (click)="openSharePopup(business)"
                                           class="material-symbols-outlined cursor-pointer">
share
</span>
                                                <span *ngIf="business.shares_count">{{business.shares_count}}</span>
                                            </div>
                                        </div>

                                    </ng-container>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="w-100 mt-2 d-flex justify-content-center align-items-center gap-2 py-2" *ngIf="businesses && businesses.length > 1">

                <span  *ngFor="let lc of businesses;let i = index" [ngClass]="{'indicator-active' : activeSlideIndex == i }"  class="indicator"></span>
            </div>

        </div>

    </div>


    <!--  <div class="card-footer d-flex justify-content-between align-items-center px-2">-->
    <!--    <div class="d-flex gap-2 align-items-center">-->

    <!--      <div class="d-flex justify-content-start align-items-center gap-1">-->
    <!--        <div (click)="saveToFavorites()" class="react-icon bg-primary">-->
    <!--          <i class="fa fa-thumbs-up"></i>-->
    <!--        </div>-->
    <!--        <div (click)="saveToFavorites()" class="react-icon bg-danger">-->
    <!--          <i class="fa fa-heart-o"></i>-->
    <!--        </div>-->

    <!--      </div>-->
    <!--      <div>-->
    <!--        <span>1k</span>-->
    <!--      </div>-->

    <!--    </div>-->

    <!--    <div class="d-flex gap-2 align-items-center">-->

    <!--      <div class="d-flex justify-content-end align-items-center gap-1">-->
    <!--        <span>124 {{"Comments" | translate}}</span>-->
    <!--      </div>-->
    <!--      <div>-->
    <!--        <span>0 {{"Shares" | translate}}</span>-->
    <!--      </div>-->

    <!--    </div>-->



    <!--  </div>-->



    <div (click)="onForwarded()" class="position-absolute carousel-control shadow d-flex justify-content-center align-items-center bg-white" style="left: 92% !important;top: 148px;width: 40px;height: 40px;border-radius: 40px;">
        <span class="material-symbols-outlined text-black">
arrow_forward_ios
</span>
    </div>
    <div (click)="onBack()" class="position-absolute carousel-control shadow d-flex justify-content-center align-items-center bg-white" style="left: 4% !important;top: 148px;width: 40px;height: 40px;border-radius: 40px;">
        <span class="material-symbols-outlined text-black">
arrow_back_ios
</span>
    </div>
</div>
