/*@media screen and (max-width: 600px){*/
/*    .card {*/
/*        border-radius: 0px !important;*/
/*    }*/
/*}*/

.featured-carousel-item {
    max-width: 240px !important;
}


@media only screen and (max-width: 768px){
    .carousel-control {
        display: none !important;
    }
}
