@media screen and (max-width: 600px){
    .card {
        border-radius: 0px !important;
    }
}

.featured-carousel-item-lc {
    max-width: 348px !important;
}


@media only screen and (max-width: 768px){
    .carousel-control {
        display: none !important;
    }
}
