.circled-text {
  align-items: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px !important;
}
