<form [formGroup]="formPromotionInfo" (submit)="submitForm()"  class="col-12 " >

  <app-my-stepper *ngIf="!promotion" class=" mt-4" [steps]="steps" [activeStep]="activeStep"></app-my-stepper>

  <app-mobile-header-with-back-button class="d-md-none" [zIndex]="100003" (onBackPressed)="activeStep = -1" *ngIf="activeStep !== -1" [heading]="heading" [urlAction]="false"></app-mobile-header-with-back-button>

  <div class="w-100 d-flex justify-content-center align-items-start " id="promotion-form-mobile">

      <div class="col-12">
          <div class="w-100 pt-4 pb-3" *ngIf="activeStep === -1">

              <ng-container *ngIf="promotion.gallery && promotion.gallery.length;else businessGallery">
                  <div class="w-100">
                      <img src="{{promotion.gallery[0].img}}" class="img-fluid">
                  </div>
              </ng-container>
              <ng-template #businessGallery>
                  <div class="w-100" *ngIf="promotion.business && promotion.business.gallery && promotion.business.gallery.length">
                      <img src="{{promotion.business.gallery[0].img}}" class="img-fluid">
                  </div>
              </ng-template>

              <div class="w-100 py-3">



                  <div matRipple (click)="goStep(0)" class="my-accordion w-100 px-2 py-2 d-flex justify-content-between align-items-center">
                      <span>{{"General Information"}}</span>
                      <span class="material-symbols-outlined">
arrow_forward_ios
</span>
                  </div>
                  <mat-divider></mat-divider>

                  <div matRipple (click)="goStep(1)" class="my-accordion w-100 px-2 py-2 d-flex justify-content-between align-items-center">
                      <span>{{"Description"}}</span>
                      <span class="material-symbols-outlined">
arrow_forward_ios
</span>
                  </div>

                  <mat-divider></mat-divider>

                  <div matRipple (click)="goStep(2)" class="my-accordion w-100 px-2 py-2 d-flex justify-content-between align-items-center">
                      <span>{{"Timeline & Coupon Code"}}</span>
                      <span class="material-symbols-outlined">
arrow_forward_ios
</span>
                  </div>

                  <mat-divider></mat-divider>

                  <div matRipple (click)="goStep(3)" class="my-accordion w-100 px-2 py-2 d-flex justify-content-between align-items-center">
                      <span>{{"Gallery"}}</span>
                      <span class="material-symbols-outlined">
arrow_forward_ios
</span>
                  </div>

              </div>

          </div>

          <div class="w-100 pt-4">

              <div class="col-md-12" *ngIf="activeStep === 0">

                  <mat-form-field appearance="outline">
                      <mat-error>Please select a business</mat-error>
                      <mat-label>Select Business</mat-label>
                      <mat-select formControlName="business">
                          <mat-select-trigger>

                    <span *ngIf="formPromotionInfo.controls.business.value">
                     <i class="fa fa-check-circle text-success"></i>&nbsp;{{formPromotionInfo.controls.business.value.business_name_prefix}} {{formPromotionInfo.controls.business.value.business_name}}
                    </span>


                          </mat-select-trigger>

                          <mat-option>
                              <ngx-mat-select-search formControlName="search_business"
                                                     placeholderLabel="Search ..."
                                                     noEntriesFoundLabel="'no match found'"></ngx-mat-select-search>
                          </mat-option>

                          <mat-option [value]="business"
                                      *ngFor="let business of businesses | searchBusiness : formPromotionInfo.controls.search_business.value">{{business.business_name_prefix}} {{business.business_name}}</mat-option>
                      </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label>{{"Promotion Title"}}</mat-label>
                      <input formControlName="promotion_title" name="promotion_title" matInput>
                      <!--        <mat-error>What is promotion title</mat-error>-->

                  </mat-form-field>

                  <mat-label>{{"Promotion type"}}</mat-label>


                  <div class="col-md-12 mt-2 mb-3">

                      <mat-error
                              *ngIf="formPromotionInfo.controls.promotion_type.touched && formPromotionInfo.controls.promotion_type.invalid ">
                          Please select any one
                      </mat-error>

                      <mat-radio-group aria-label="Select an option" name="promotion_type" formControlName="promotion_type">
                          <mat-radio-button value="Promotion">Promocion &nbsp;&nbsp;</mat-radio-button>
                          <mat-radio-button value="Discount">Descuento</mat-radio-button>

                      </mat-radio-group>


                  </div>

                  <div class="col-12 d-flex p-0">

                      <div class="w-50 pe-1">

                          <mat-form-field appearance="outline">
                              <mat-label>Precio Original</mat-label>

                              <!--            <mat-error>Please specify the original price</mat-error>-->

                              <input (keyup)="calculateDiscountAmount()" type="number" matInput formControlName="price_original"
                                     name="price_original">
                          </mat-form-field>

                      </div>

                      <div class="w-50 ps-1">

                          <mat-form-field appearance="outline">
                              <mat-label>Precio en Oferta</mat-label>

                              <!--            <mat-error>Please specify the price offered</mat-error>-->

                              <input (keyup)="calculateDiscountAmount()" type="number" formControlName="price_offered" matInput
                                     name="website">
                          </mat-form-field>
                      </div>

                  </div>

                  <div class="row">
                      <div class="col-6 pe-1"
                           *ngIf="formPromotionInfo.controls.promotion_type.value &&  formPromotionInfo.controls.promotion_type.value === 'Discount'">

                          <mat-form-field appearance="outline">
                              <mat-label>Discount Percentage</mat-label>

                              <!--               <mat-error>What is the discount in % for each product ?</mat-error>-->

                              <input type="number" required formControlName="discount_percentage" matInput name="website">
                          </mat-form-field>


                      </div>
                      <div [ngClass]="{'col-6 ps-1' : formPromotionInfo.controls.promotion_type.value &&  formPromotionInfo.controls.promotion_type.value === 'Discount' , 'col-12' : !formPromotionInfo.controls.promotion_type.value ||  formPromotionInfo.controls.promotion_type.value !== 'Discount'}">

                          <mat-form-field appearance="outline">
                              <mat-label>Valor Ahorro</mat-label>
                              <input [readonly]="true" type="number" formControlName="price_discount" matInput name="price_discount">
                          </mat-form-field>

                      </div>

                  </div>

                  <div class="col-12">

                      <mat-form-field appearance="outline">
                          <mat-label>Minimum number of purchase required to get the promotion</mat-label>

                          <!--          <mat-error>How many products need to be purchased to get the promotion ?</mat-error>-->
                          <input type="number" matInput formControlName="minimum_product_purchase">
                      </mat-form-field>
                  </div>

              </div>

              <div class="col-md-12" *ngIf="activeStep === 1">

                  <mat-form-field appearance="outline">
                      <mat-label>Descripcion de la Promocion</mat-label>
                      <!--        <mat-error-->
                      <!--                *ngIf="formPromotionInfo.controls.description.touched && formPromotionInfo.controls.description.invalid ">-->
                      <!--          Description is required-->
                      <!--        </mat-error>-->
                      <textarea
                              formControlName="description"
                              matInput
                              rows="5"
                      ></textarea>


                  </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label>Como Adquirir Promocion</mat-label>
                      <!--        <mat-error-->
                      <!--                *ngIf="formPromotionInfo.controls.about.touched && formPromotionInfo.controls.about.invalid ">-->
                      <!--          About is required-->
                      <!--        </mat-error>-->
                      <textarea
                              formControlName="about"
                              matInput
                              rows="5"
                      ></textarea>


                  </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label>Condiciones</mat-label>
                      <!--        <mat-error *ngIf="formPromotionInfo.controls.terms.touched && formPromotionInfo.controls.terms.invalid ">Terms and conditions of the promotion is required</mat-error>-->

                      <textarea
                              formControlName="terms"
                              matInput
                              rows="5"
                      ></textarea>


                  </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label>Restricciones</mat-label>
                      <!--        <mat-error *ngIf="formPromotionInfo.controls.restrictions.touched && formPromotionInfo.controls.restrictions.invalid ">Please specify restrictions of the promotion</mat-error>-->
                      <textarea
                              formControlName="restrictions"
                              matInput
                              rows="5"
                      ></textarea>
                  </mat-form-field>

              </div>

              <div class="col-md-12" *ngIf="activeStep === 2">
                  <div class="w-100 d-flex">
                      <div class="w-50 pe-1">
                          <mat-form-field appearance="outline">
                              <mat-label>Fecha Inicio Promocion</mat-label>
                              <input matInput type="date" formControlName="start_at">
                              <!--            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
                              <!--            <mat-datepicker #picker></mat-datepicker>-->
                          </mat-form-field>
                      </div>

                      <div class="w-50 ps-1">
                          <mat-form-field appearance="outline">
                              <mat-label>Fecha Fin de Promocion</mat-label>
                              <input matInput type="date" formControlName="ends_at">
                              <!--            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>-->
                              <!--            <mat-datepicker #picker2></mat-datepicker>-->
                          </mat-form-field>
                      </div>
                  </div>

                  <mat-label>Cantidad Maxima de Promociones ( Leave empty if no maximum restriction)</mat-label>

                  <mat-form-field appearance="outline">

                      <!--          <mat-error>Specify the maximum number of promotions</mat-error>-->

                      <input type="number" matInput formControlName="maximum">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Codigo Promocion</mat-label>

                      <!--          <mat-error>What is the coupon code ?</mat-error>-->

                      <input matInput formControlName="code" placeholder="Ejemplo: PRM-01">
                  </mat-form-field>

                  <mat-slide-toggle formControlName="status" name="status">Estado de Promocion</mat-slide-toggle>

              </div>

              <div class="col-md-12" *ngIf="activeStep === 3">
                  <p class="mb-0 py-1">
                      {{"If no images are uploaded, then business gallery will show as promotion gallery"}}
                  </p>


                  <mat-label>Upload Images</mat-label>
                  <div class="col-md-12 py-3">
                      <ngx-dropzone (change)="onSelect($event)">
                          <ngx-dropzone-label>Drop files here or click to upload</ngx-dropzone-label>

                          <ngx-dropzone-image-preview [file]="f" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                          </ngx-dropzone-image-preview>


                      </ngx-dropzone>

                  </div>


                  <div class="row mt-2" *ngIf="fileProgress === true">

                      <p class="text-primary">Images uploading on progress ...</p>
                      <mat-divider></mat-divider>
                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>

                  </div>

              </div>

          </div>

          <div class="col-12 d-flex mt-4" *ngIf="activeStep !== -1">

              <ng-container *ngIf="!promotion">
                  <div *ngIf="activeStep > 0" class="w-50 pe-1">
                      <button type="button" (click)="prevStep()" class="btn btn-theme-dark btn-block">
                          {{"BACK"}}
                      </button>
                  </div>
                  <div [ngClass]="{'w-100' : activeStep < 1 , 'w-50 ps-1' : activeStep > 0}">
                      <button type="button" (click)="nextStep()" class="btn btn-theme-dark btn-block">
                          <ng-container *ngIf="activeStep < 3"> {{"NEXT"}} </ng-container>
                          <ng-container *ngIf="activeStep >= 3"> {{"SUBMIT"}} </ng-container>
                      </button>
                  </div>
              </ng-container>

              <ng-container *ngIf="promotion">
                  <div *ngIf="activeStep !== -1" class="w-100">
                      <button type="button" (click)="save()" class="btn btn-theme-dark btn-block">
                          {{"Save"}}
                      </button>
                  </div>
              </ng-container>

          </div>
      </div>


  </div>


  <mat-card class="d-none" >

    <mat-card-header>

      <mat-card-title>Datos Generales de la Promocion</mat-card-title>

    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="p-3">

      <div class="row">

        <p>Select a business for which you are creating the promotion</p>
        <div class="col-md-12">

          <mat-form-field appearance="outline" >
            <mat-error>Please select a business</mat-error>
            <mat-label>Select Business</mat-label>
            <mat-select formControlName="business" >
              <mat-select-trigger>

                    <span *ngIf="formPromotionInfo.controls.business.value">
                     <i class="fa fa-check-circle text-success"></i>&nbsp;{{formPromotionInfo.controls.business.value.business_name_prefix}} {{formPromotionInfo.controls.business.value.business_name}}
                    </span>


              </mat-select-trigger>

              <mat-option>
                <ngx-mat-select-search formControlName="search_business"
                                       placeholderLabel="Search ..."
                                       noEntriesFoundLabel="'no match found'"></ngx-mat-select-search>
              </mat-option>

              <mat-option [value]="business" *ngFor="let business of businesses | searchBusiness : formPromotionInfo.controls.search_business.value">{{business.business_name_prefix}} {{business.business_name}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <a *ngIf="! isAdmin" class="text-primary text-right" [routerLink]="['/'+routes.business.create]"><i>Don't have a business listed yet ? Create business</i></a>

      </div>


      <div class="row" >

        <mat-label>Titulo de Promocion</mat-label>

        <div class="col-md-12">

          <mat-form-field    appearance="outline">
            <input formControlName="promotion_title"  name="promotion_title" matInput>
            <mat-error>What is promotion title</mat-error>

          </mat-form-field>


        </div>
      </div>
      <div class="row">

        <mat-label>Promocion o Descuento</mat-label>


        <div class="col-md-12 mt-2 mb-2">

          <mat-error *ngIf="formPromotionInfo.controls.promotion_type.touched && formPromotionInfo.controls.promotion_type.invalid ">Please select any one</mat-error>

          <mat-radio-group aria-label="Select an option" name="promotion_type" formControlName="promotion_type">
            <mat-radio-button value="Promotion">Promocion  &nbsp;&nbsp;</mat-radio-button>
            <mat-radio-button value="Discount">Descuento</mat-radio-button>

          </mat-radio-group>


        </div>


      </div>








      <div class="row mt-3">

        <mat-label>Descripcion de la Promocion</mat-label>


        <div class="col-md-12">

          <mat-error *ngIf="formPromotionInfo.controls.description.touched && formPromotionInfo.controls.description.invalid ">Description is required</mat-error>

          <ckeditor formControlName="description" name="description" [editor]="Editor"  data=""></ckeditor>



        </div>

      </div>

      <div class="row mt-3">

        <mat-label>Como Adquirir Promocion</mat-label>


        <div class="col-md-12">

          <mat-error *ngIf="formPromotionInfo.controls.about.touched && formPromotionInfo.controls.about.invalid ">Please write how to get the promotion</mat-error>

          <ckeditor name="about" formControlName="about" [editor]="Editor"  data=""></ckeditor>

        </div>

      </div>
      <div class="row mt-3">

        <mat-label>Condiciones</mat-label>


        <div class="col-md-12">

          <mat-error *ngIf="formPromotionInfo.controls.terms.touched && formPromotionInfo.controls.terms.invalid ">Terms and conditions of the promotion is required</mat-error>

          <ckeditor formControlName="terms" name="terms" [editor]="Editor"  data=""></ckeditor>

        </div>

      </div>
      <div class="row mt-3">

        <mat-label>Restricciones</mat-label>


        <div class="col-md-12">

          <mat-error *ngIf="formPromotionInfo.controls.restrictions.touched && formPromotionInfo.controls.restrictions.invalid ">Please specify restrictions of the promotion</mat-error>

          <ckeditor formControlName="restrictions" name="restrictions" [editor]="Editor"  data=""></ckeditor>

        </div>

      </div>



      <div class="row mt-4" >


        <div class="col-md-12" *ngIf="formPromotionInfo.controls.promotion_type.value &&  formPromotionInfo.controls.promotion_type.value === 'Promotion'">
          <mat-label>Minimum number of purchase required to get the promotion</mat-label>

          <mat-form-field  appearance="outline">
            <mat-error>How many products need to be purchased to get the promotion ?</mat-error>
            <input type="number" required matInput formControlName="minimum_product_purchase" name="minimum_product_purchase"   >
          </mat-form-field>

        </div>

        <div class="col-md-6">
          <mat-label>Precio Original</mat-label>

          <mat-form-field  appearance="outline">
            <mat-error>Please specify the original price</mat-error>

            <input (keyup)="calculateDiscountAmount()" type="number" matInput formControlName="price_original" name="price_original"   >
          </mat-form-field>

        </div>
        <div class="col-md-6">
          <mat-label>Precio en Oferta</mat-label>

          <mat-form-field  appearance="outline">
            <mat-error>Please specify the price offered</mat-error>

            <input  (keyup)="calculateDiscountAmount()" type="number" formControlName="price_offered" matInput name="website"   >
          </mat-form-field>

        </div>

        <div class="col-md-12" *ngIf="formPromotionInfo.controls.promotion_type.value &&  formPromotionInfo.controls.promotion_type.value === 'Discount'">

          <mat-label>Discount Percentage</mat-label>

          <mat-form-field  appearance="outline">
            <mat-error>What is the discount in % for each product ?</mat-error>

            <input type="number" required formControlName="discount_percentage" matInput name="website"   >
          </mat-form-field>

        </div>

      </div>

      <div class="row">



        <div class="col-md-12">
          <mat-label>Valor Ahorro</mat-label>

          <mat-form-field   appearance="outline">
            <input [readonly]="true" type="number" formControlName="price_discount" matInput name="price_discount" >
          </mat-form-field>

        </div>


      </div>

      <div class="row">



        <div class="col-md-6">
          <mat-label>Fecha Inicio Promocion</mat-label>
          <mat-form-field  appearance="outline">
            <mat-error>When wll the promotion start ?</mat-error>

            <input matInput type="date" name="start_at" formControlName="start_at" >
          </mat-form-field>
        </div>
        <div class="col-md-6">

          <mat-label>Fecha Fin de Promocion</mat-label>
          <mat-form-field  appearance="outline">
            <mat-error>When wll the promotion end ?</mat-error>

            <input type="date" matInput formControlName="ends_at" name="ends_at" >
          </mat-form-field>

        </div>
        <div class="col-md-12">

          <mat-label>Cantidad Maxima de Promociones ( Leave empty if no maximum restriction)</mat-label>

          <mat-form-field  appearance="outline">
            <mat-error>Specify the maximum number of promotions</mat-error>

            <input type="number" matInput name="maximum" formControlName="maximum"  >
          </mat-form-field>

        </div>
        <div class="col-md-12">

          <mat-label>Codigo Promocion</mat-label>

          <mat-form-field  appearance="outline">
            <mat-error>What is the coupon code ?</mat-error>

            <input matInput formControlName="code" name="code" placeholder="Ejemplo: PRM-01"  >
          </mat-form-field>

        </div>

        <!-- <div class="col-md-6">

          <mat-form-field  appearance="outline">
            <input matInput placeholder="+504 99999999" >
          </mat-form-field>

        </div> -->

      </div>
      <div class="row">

        <mat-label>Estado de Promocion</mat-label>


        <div class="col-md-12 mt-2 mb-2">



          <mat-slide-toggle formControlName="status"  name="status">On / Off</mat-slide-toggle>


        </div>

        <div class="row" *ngIf="images.length > 0">

          <mat-label>Saved Images</mat-label>
          <div class="col-md-3 mb-4 text-center" *ngFor="let img of images">

            <div style="width: 100%;height: 100px;background: url('{{img}}');background-position: center center; background-size:cover;border-radius:10px;margin-bottom:15px;">

            </div>

            <button class="btn btn-danger btn-block btn-sm" type="button" (click)="deleteImage(img)">
              <i class="fa fa-trash"></i>
            </button>

          </div>

        </div>

        <div class="row">

          <mat-label>Upload Images</mat-label>
          <div class="col-md-12">
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>Drop files here or click to upload</ngx-dropzone-label>

              <ngx-dropzone-image-preview  [file]="f" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>


            </ngx-dropzone>

          </div>



        </div>
        <div class="row mt-2" *ngIf="fileProgress === true">

          <p class="text-primary">Images uploading on progress ...</p>
          <mat-divider></mat-divider>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>

        </div>




      </div>




    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="text-center">

      <div class="row">

        <div class="col-md-12 mt-2 mb-2 text-center" *ngIf="promotionSaveProgress === true">
          <p class="text-success mb-2">
            Saving promotion ...
          </p>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <button *ngIf="promotionSaveProgress === false"  class="next-btn" mat-raised-button color="primary">
            Submit
          </button>
        </div>

      </div>




    </mat-card-actions>


  </mat-card>

</form>
