<mat-card class="shadow-sm customer-favorite-lc-card col-5 col-sm-4 col-md-3 col-lg-3" (click)="openBottomSheet()"  style="margin: 0 !important;">

    <div mat-card-image
         style="height: 120px;background-position: center; background-size: cover; background: url('{{favorite.loyalty_card.business.gallery[0].img}}')"></div>

    <mat-card-content   style="position: absolute; top: 90px;width: 100%;left: 0 !important;">
       <div class="col-12 p-2">


        <div class="w-100 d-flex justify-content-center">
            <div class="customer-favorite-item-card-business-logo" style="background-image: url('{{favorite.loyalty_card.business.logo}}')">

            </div>

        </div>
        <div class="w-100 text-center d-flex flex-column justify-content-center align-items-center" style="height: 70px!important;">
            <small class="fw-bold promotion-title" style="font-size: 10px !important;">
                {{favorite.loyalty_card.card_name}}
            </small>

        </div>
        <div class="d-flex justify-content-center gap-2 mt-2 " *ngIf="loyalty_card.card_type === 'prize'" style="position: relative;">
            <div class="d-flex flex-column gap-1 justify-content-center align-items-center" *ngFor="let n of visitArray; let i = index">
                <img src="{{loyalty_card.redemption_img}}"  class="" style="width: 16px !important;">

                <span class="text-black fw-bold" style="font-size: 10px !important">{{i +1}}</span>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center align-items-center gap-1">
            <small class="text-black" style="font-size: 10px !important;">{{loyalty_card.card_title}}</small>

        </div>

        <div class="w-100 d-flex justify-content-center align-items-center gap-1">
            <small class="text-black" style="font-size: 10px !important;">{{loyalty_card.card_description}}</small>

        </div>
       </div>
    </mat-card-content>

</mat-card>