mat-form-field {
  width: 100%;
}

mat-label {
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.next-btn , .back-btn {
  width: 100%;
  height: 40px;
}


@media  screen and (min-width: 600px) and (max-width: 768px){
  .heading-wrapper {
    padding: 40px 25px 50px 25px !important;
  }

  .heading-wrapper h1 {
    font-size: 20px !important;
  }

  .heading-wrapper p {
    font-size: 14px !important;
  }

}
.iphone-simulator {
  width: calc(1206px / 4) !important;
  height: calc(2622px / 4) !important;
  border: 12px solid black;
  border-radius: 60px !important;
}
.iphone-simulator::-webkit-scrollbar {
  display: none !important;
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .container-fluid {
    width: 100%;
  }
  .content-mid-section {
    width: 60% !important;
  }
  .content-right-section {
    width: 40% !important;
  }
}

@media screen and (min-width: 992px){
  .container-fluid {
    width: 70%;
    left: 30% ;
  }
  .content-mid-section {
    width: 60% !important;
    max-width: 560px !important;
  }
  .content-right-section {
    width: 40% !important;
  }
}



@media screen and (min-width: 768px) and (max-width: 849px){
  .iphone-simulator {
    border: 14px solid black;
    border-radius: 40px !important;
    width: calc(1206px / 4.5) !important;
    height: calc(2622px / 4.5) !important;
  }
}

@media screen and (min-width: 850px) and (max-width: 990px){
  .iphone-simulator {
    border: 14px solid black;
    border-radius: 50px !important;
    width: calc(1206px / 4) !important;
    height: calc(2622px / 4) !important;
  }
}
@media  screen and (min-width: 991px) and (max-width: 1199px) {
  .iphone-simulator {
    border: 14px solid black;
    border-radius: 50px !important;
    width: calc(1206px / 4.4) !important;
    height: calc(2622px / 4.4) !important;
  }
}

@media  screen and (min-width: 1200px) {
  .iphone-simulator {
    border: 14px solid black;
    border-radius: 50px !important;
    width: calc(1206px / 3.9) !important;
    height: calc(2622px / 3.9) !important;
  }


}