<div class="row">

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <h1>Logo</h1>
      </div>
      <div class="col-md-12" *ngIf="logo">
        <img src="{{logo}}" width="200px">
      </div>

      <div class="col-md-12">

        <mat-label>Change Logo</mat-label>
        <ngx-dropzone (change)="onSelect($event)" class="mt-2">
          <ngx-dropzone-label>Drop file here or click to upload</ngx-dropzone-label>
          <ngx-dropzone-image-preview  [file]="f" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>

      <div class="col-md-12 mt-2">
        <div class="form-group">
          <button class="btn btn-primary" type="button" (click)="save()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>



</div>
