/*.preview-state-hidden {*/
/*  transform: translateY(100vh);*/
/*  transition: ease-in 0.5s;*/
/*}*/

/*.preview-state-expanded {*/
/*  transform: translateY(0px);*/
/*  transition: ease-in 0.5s;*/
/*}*/

/*.preview-state-collapsed {*/
/*  transform: translateY(40vh);*/
/*  transition: ease-in 0.5s;*/
/*}*/
.indicator {
    box-shadow: 1px 1px #000000 !important;
}